/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	color: #bdc3c7;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 17px;


}

.profil{
	width: 300px;
	background: #31363b;
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	box-shadow: 5px 5px 8px gray;

}

.foto{
	width: 300px;
}

.jmeno{
	margin-top: 0;
	color: white;
}

.obsah{
	padding: 20px;
}


.logo{
	border-radius: 50%;
	background-color: #b92e81;
	position: absolute;
	right: 25px;
	top: 175px;	
}

a{
	text-decoration: none;
	display: block;
	color: #bdc3c7;
	text-transform: uppercase;
	padding: 10px;
}

ul li{

	background-color:#31363b;
	border: 1px solid #3f464d;
	text-align: center;


}

.facebook:hover{
	background-color: #3b5998;

}

.portfolio:hover{
	background-color: #e74c3c;

}

.twitter:hover{
	background-color: #1da1f2;
}

a:hover{
	color:white;
}

.odkazy{
	margin: 0;
	padding: 0;

}


