/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin:0

}

.profil{
	width: 300px;
	background: #31363b;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
	color: #bdc3c7;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 17px;

}

.hlavicka{
	position: relative;
}

.foto{
	width: 100%;
	height: auto;
	display: block;
}

.logo{
	border-radius: 50%;
	background-color: #b92e81;
	position: absolute;
	right: 25px;
	bottom: -25px;	
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.obsah{
	padding: 30px 20px 20px 20px;
}



.odkazy{
	margin: 0;
	padding: 0;
	list-style: none;

}


.jmeno{
	margin-top: 0;
	color: white;
}


.odkazy li{
	display:inline-block
	
}


.odkazy a {
	text-decoration: none;
	color: #bdc3c7;
	text-transform: uppercase;
	display:block;
	padding: 10px;
	text-align: center;
}


.portfolio{
	width: 100%;
	border-top: 1px solid #3f464d;
	border-bottom: 1px solid #3f464d;
}

.facebook{
	width: 50%;
	border-right: 1px solid #3f464d;
}

.twitter{
	width: 50%;
	
}


.facebook a:hover{
	background-color: #3b5998;
}

.portfolio a:hover{
	background-color: #e74c3c;
}

.twitter a:hover{
	background-color: #1da1f2;
}

.odkazy a:hover{
	color:#fff;
}



